.home-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px);
    background: url('../images/home.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 0;
    margin: 0;
}

.home-content .animated-text {
    opacity: 0;
    color: #000;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s ease-in-out;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.home-content .animated-text.visible {
    opacity: 1;
    color: #fff;
}

.home-content .animated-text.visible {
    opacity: 1;
    color: #fff;
}

.home-content .animated-text p {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
