<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        {% if page.title == "About" %}
        <link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}">
        {% endif %}
        
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body class="{% if page.url == '/' %}home-page{% endif %}">
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
    <div class="sidebar">
        <div class="sidebar-content">
            <h1 class="name">Jinning Liang</h1>
            <p class="title">PhD Student</p>
            <p class="affiliation">Kavli Institute for Astronomy and Astrophysics, Peking University</p>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
                    <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
                    <li><a href="/assets/files/CV.pdf" target="_blank">CV</a></li>
                    <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
                    <li><a href="{{ '/code/' | relative_url }}">Code</a></li>
                </ul>
            </nav>
            <div class="contact-info">
                <a href="https://orcid.org/0000-0001-8405-2921" target="_blank" class="icon-link">
                    <i class="fab fa-orcid" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/JinningLianggithub" target="_blank" class="icon-link">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://scholar.google.com/citations?user=1prsaO4AAAAJ&hl=en" target="_blank" class="icon-link">
                    <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                </a>
                <a href="mailto:jinningliangastro@gmail.com" class="icon-link">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <main class="content">
        {{ content }}
    </main>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
